@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-fonts: "Open Sans", sans-serif;
    --main-color: #3AAFA9;
    --main-color-text: #FEFFFF;
    --color-dark: #17252A;
    --color-dark-2: #2B7A78;
    --color-light: #DEF2F1;
    font-size: 16px;
}

::selection {
    background: var(--color-light);
    color: var(--color-dark-2);
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#root>header,
#root>footer {
    flex: 0 0 auto;
}

#root>div {
    flex: 1 0 auto;
}

* {
    font-size: var(--main-fonts);
    color: var(--main-color-text);
}

body {
    background: var(--main-color);
}

.level {
    visibility: hidden;
    background: var(--color-dark);
    border-radius: 0.5rem;
    padding: 15px 20px;
    position: absolute;
    left: 10px;
    top: 100%;
    transition: all ease-in-out 0.10s;
    margin-top: 5px;
    min-width: 150px;
    opacity: 0;
}

.main-item:hover .level {
    visibility: visible;
    opacity: 1;
}

.title-1 {
    font-size: 60px;
    font-weight: 900;
}

.btn {
    background: var(--color-dark);
    padding: 10px 20px;
    border-radius: 1rem;
}

.news-item {
    background: var(--color-dark-2);
    padding: 10px;
    border-radius: 0.5rem;
    /* cursor: pointer; */
    transition: all ease-in-out 0.10s;
    word-break: break-all;
}

.news-item > h2 {
    font-weight: 700;
}

@media screen and (max-width: 655px) {
    body {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1024px) {
    .min-lg-desktop {
        display: none;
    }

    a:has(img) {
        width: clamp(150px, 1.4vw, 300px);
    }
}

.a_footer_report {
    position: relative;
    transition: all ease-in-out 1s;
}

.a_footer_report::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color-text);
    transition: all ease-in-out .5s;
    visibility: hidden;
    opacity: 0;
}

.a_footer_report:hover::before {
    visibility: visible;
    opacity: 1;
}

.news-item {
    width: 300px;
    min-height: 300px;
}

.level > * + * {
    margin-top: 10px;
}